
.secao-banner-contato{
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}
.secao-banner-fundo-contato{
	background-image: url(https://assets.nicepagecdn.com/11a8ddce/6135491/images/electrician-installer-with-tool-his-hands-working-with-cable-construction-site-1.jpg);

}




