@import url(animacoes.css);
*{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 0;
padding: 0;
}
.cabecalho{
height: 70px;
display: flex;
align-items: center;
}
.navegacao{
margin: 0 auto;
height: 30px;
}
.menu-navegacao{
list-style: none;
text-align: center;
}
.lista-navegacao{
display: inline;
text-transform: uppercase;
margin-left: 20px;
}
.link-navegacao{
text-decoration: none;
color: black;
}
.link-navegacao:hover{
color: rgb(156, 156, 25);
}
.secao-apresentacao{
background-image: url(https://wallpapers.com/images/hd/electrician-checking-voltmeter-zpluh1tf2du87juu.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 700px;
}
.descricao-apresentacao{
width: 30%;
position: relative;
left: 100px;
top: 200px;
color: white;
background: rgba(0, 0, 0, 0.171);
padding: 10px;
}
.descricao-apresentacao p{
line-height: 16px;
}
.container{
width: 80%; 
margin: 0 auto; 
display: flex;
flex-direction: column;
align-items:center;
justify-content: space-between;  
gap: 100px;         
}
.destaque-orcamento{
background-color: #f7e07b;
display: flex;
justify-content:space-between;
align-items: center;
padding: 20px;
margin-top: 20px;
}
.destaque-orcamento h2{
font-size: 1.875rem;
width: 60%;
}
.destaque-ver-servicos{
display: flex; 
justify-content: space-between;
}
.destaque-ver-servicos-filho{
width: 30%; 
line-height: 40px;
}
.destaque-ver-servicos-filho h2{
margin-bottom: 15px;
font-size: 2.5rem;
}
.destaque-ver-servicos a:hover{
background: black;
color: #f7e07b;
}
.destaque-ver-servicos ul{
list-style: none; 
line-height: 30px;
font-size: 1.2rem;
}
.destaque-btn-servicos{
text-decoration: none;
background-color: #f7e07b;
color: black;
text-transform: uppercase;
padding: 10px;
border-radius: 10px;
}
.destaque-fotos-servicos{
display: flex; 
flex-wrap: wrap; 
justify-content: center; 
gap: 10px;
}
.background-servicos-recentes{
width: 40%; 
background: url(https://eletricistabh24h.com.br/wp-content/uploads/2020/08/ellett.jpg); 
background-size: contain; 
display: flex; 
align-items: center; 
justify-content: center;
}
.destaque-fotos-servicos img{
width:40%
}
.destaque-fotos-servicos img:hover{
border-radius: 50px;
border: 1px solid black;
}




/*responsividade*/
@media (max-width: 820px){
.secao-apresentacao {
background-image: url(https://wallpapers.com/images/hd/electrician-checking-voltmeter-zpluh1tf2du87juu.jpg);
background-repeat: no-repeat;
background-size:cover;
height: 265px;
}
.descricao-apresentacao {
padding: 5px;
width: 70%;
position: relative;
top: 5px;
left: 5px;
}
.descricao-apresentacao h1{
font-size: 1.5rem;
margin-bottom: 10px;
}
.container{
width: 80%;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
gap: 40px;
}
.destaque-orcamento {
background-color: #f7e07b;
width: 100%;
display: flex;
flex-direction: column;
margin-top: 20px;
height: 160px;
}
.destaque-orcamento h2 {
width: auto;
}
.destaque-ver-servicos{
display: flex;
flex-direction: column;
gap: 30px;
}
.background-servicos-recentes {
width: 90%;
height: 200px;
background: url(https://eletricistabh24h.com.br/wp-content/uploads/2020/08/ellett.jpg);
background-size: contain;
display: flex;
align-items: center;
justify-content: center;
}
.destaque-ver-servicos-filho{
width: auto;
line-height: 25px;
text-align: center;
}
.destaque-ver-servicos-filho h2 {
    font-size: 2rem;
}
.background-servicos-recentes {
width: 90%;
height: 200px;
background: url(https://eletricistabh24h.com.br/wp-content/uploads/2020/08/ellett.jpg);
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}
.destaque-fotos-servicos img {
width: 90%;
}
.tipos-de-servicos {
width: 80%;
}
    .localizacao-endereco-contato {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
