*{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 0;
padding: 0;
}
.cabecalho{
height: 70px;
display: flex;
align-items: center;
}
.navegacao{
margin: 0 auto;
height: 30px;
}
.menu-navegacao{
list-style: none;
text-align: center;
}
.lista-navegacao{
display: inline;
text-transform: uppercase;
margin-left: 20px;
}
.link-navegacao{
text-decoration: none;
color: black;
}
.link-navegacao:hover{
color: rgb(156, 156, 25);
}
.secao-apresentacao{
background-image: url(https://wallpapers.com/images/hd/electrician-checking-voltmeter-zpluh1tf2du87juu.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 700px;
}
.descricao-apresentacao{
width: 30%;
position: relative;
left: 100px;
top: 200px;
color: white;
background: rgba(0, 0, 0, 0.171);
padding: 10px;
}
.descricao-apresentacao h1{
font-size: 2.5rem;
margin-bottom: 10px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .10em solid #f7e07b; /* The typwriter cursor */
      white-space: wrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */ 
      animation: 
        typing 4.5s steps(40, end),
        blink-caret .7s step-end infinite;

}

   /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: #f7e07b; }
    }

.descricao-apresentacao p{
line-height: 16px;
}
.container{
width: 80%; 
margin: 0 auto; 
display: flex;
flex-direction: column;
align-items:center;
justify-content: space-between;  
gap: 100px;         
}
.destaque-orcamento{
background-color: #f7e07b;
display: flex;
justify-content:space-between;
align-items: center;
padding: 20px;
margin-top: 20px;
}

.destaque-orcamento h2{
    font-size: 1.875rem;
    width: 60%;
}

.destaque-orcamento a{
text-align: center;
text-decoration: none;
border: 2px dotted white;
background: black;
color: white;
text-transform: uppercase;
padding: 10px;
border-radius: 10px;
transition: transform 0.3s ease;
}

.destaque-orcamento a{
animation: tremer 0.6s infinite;
}

/* Define os keyframes da animação */
@keyframes tremer {
    0% { transform: translateX(0); } /* Posição inicial */
    25% { transform: translateX(-3px); } /* Move 3px para a esquerda */
    50% { transform: translateX(3px); } /* Move 3px para a direita */
    75% { transform: translateX(-3px); } /* Move 3px para a esquerda */
    100% { transform: translateX(0); } /* Retorna à posição inicial */
}
.destaque-ver-servicos{
display: flex; 
justify-content: space-between;
}

.destaque-ver-servicos-filho{
    width: 30%; 
    line-height: 25px;
}

.destaque-ver-servicos-filho h2{
    margin-bottom: 15px;
    font-size: 1.875rem;
}

.destaque-ver-servicos a:hover{
background: black;
color: #f7e07b;
}

.destaque-ver-servicos ul{
list-style: none; 
line-height: 30px;
}

.destaque-btn-servicos{
text-decoration: none;
background-color: #f7e07b;
color: black;
text-transform: uppercase;
padding: 10px;
border-radius: 10px;
}

.destaque-fotos-servicos{
display: flex; 
flex-wrap: wrap; 
justify-content: center; 
gap: 10px;
}

.background-servicos-recentes{
width: 40%; 
background: url(https://eletricistabh24h.com.br/wp-content/uploads/2020/08/ellett.jpg); 
background-size: contain; 
display: flex; 
align-items: center; 
justify-content: center;
}

.destaque-fotos-servicos img{
width:40%
}

.destaque-fotos-servicos img:hover{
    border-radius: 50px;
    border: 1px solid black;
}




/*responsividade*/
@media (max-width: 768px){
.secao-apresentacao {
    background-image: url(https://wallpapers.com/images/hd/electrician-checking-voltmeter-zpluh1tf2du87juu.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 265px;
}

.descricao-apresentacao {
        padding: 5px;
        width: 70%;
        position: relative;
        top: 5px;
        left: 5px;
}

.descricao-apresentacao h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.destaque-orcamento {
    background-color: #f7e07b;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 160px;
}

.destaque-orcamento h2 {
    width: auto;
}

.destaque-ver-servicos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.background-servicos-recentes {
    width: 90%;
    height: 200px;
    background: url(https://eletricistabh24h.com.br/wp-content/uploads/2020/08/ellett.jpg);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destaque-ver-servicos-filho{
    width: auto;
    line-height: 25px;
    text-align: center;
}

.destaque-fotos-servicos img {
    width: 90%;
}

}


 