*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho{
    height: 70px;
    display: flex;
    align-items: center;
}
.navegacao{
    width: 50%;
    margin: 0 auto;
    height: 30px;
}

.menu-navegacao{
    list-style: none;
    text-align: center;
}

.lista-navegacao{
    display: inline;
    text-transform: uppercase;
    margin-left: 20px;
}

.link-navegacao{
    text-decoration: none;
    color: black;
}
.link-navegacao:hover{
    color: rgb(156, 156, 25);
}

.secao-apresentacao{
   background-image: url(https://wallpapers.com/images/hd/electrician-checking-voltmeter-zpluh1tf2du87juu.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 700px;
   

}

.descricao-apresentacao{
     width: 30%;
     position: relative;
     left: 100px;
     top: 200px;
     color: white;
     background: rgba(0, 0, 0, 0.171);
     padding: 5px;
}

.descricao-apresentacao h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    width: 50%;
}

.descricao-apresentacao p{
    line-height: 20px;
}

.contratar{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 80%;
}

.titulo-btn-contratar{
    background-color: #f7e07b;
    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.titulo-btn-contratar h2{
    width: 60%;
}

.titulo-btn-contratar a{
    border: 2px dotted white;
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;

}

.contratar ul{
    list-style:circle;
}