.secao-apresentacao-sobre{
background-image: url(https://assets.nicepagecdn.com/11a8ddce/6135491/images/young-architect-standing-by-solar-panels-making-diagnostics-computer.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 550px;
}



.secao-apresentacao-sobre h2{
font-size: 3rem;
margin-bottom: 5px;

}

.secao-apresentacao-sobre p{
font-size: 1.2rem;
}

.sobre{
margin-top: 50px;
display: flex;
align-items: center;
text-align: center;
}
.descricao-sobre h1{
font-size: 2.5rem;
}


.descricao-sobre p{
text-align: start;
font-size: 1.2rem;
padding: 15px;

}
.img-sobre{
width: 50%;
}




/*responsividade SOBRE*/
@media (max-width: 820px){
.sobre {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.img-sobre {
    width: 100%;
}


}