.secao-apresentacao-sobre{
background-image: url(https://assets.nicepagecdn.com/11a8ddce/6135491/images/young-architect-standing-by-solar-panels-making-diagnostics-computer.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 550px;
}
.secao-apresentacao-sobre h2{
font-size: 3rem;
margin-bottom: 5px;
}
.secao-apresentacao-sobre p{
font-size: 1.2rem;
}
.sobre{
margin-top: 50px;
display: flex;
align-items: center;
text-align: center;
}
.descricao-sobre h1{
font-size: 2.5rem;
}
.descricao-sobre p{
text-align: start;
font-size: 1.2rem;
padding: 15px;
}
.img-sobre{
width: 50%;
}




/*FONTE */           
/*https://www.google.com/search?q=PERPLEX+NA+IMG+css&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigATIHCAIQIRigATIHCAMQIRigATIHCAQQI
RigATIHCAUQIRigAdIBCDY4NzJqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8&sei=aagUabbxA--XwbkPv9-24AE&udm=50&fbs=AIIjpHydJdUtNKrM02hj0s4n
bm4yAFb4PvhjIUcDtaFHkK_tyspyDJg0-Y4Ji8bGEtEDNJF_QLt8mYL1Ky-sHdgJivrE677A-6HSRV-kn1DsqyQa91SRgsk7q-L5n4c0pDCrTlDhalcoTtr8AVUxm8-5
0qKLbcJa1oFC3zedeUJnfRdBbSAeHsPihVtS5uYQbTX437kSnfhOciNXdfFB8I4S2aQvmi7vBg&ved=2ahUKEwik1Me29-yQAxXEhIQIHZDSOowQ0NsOegQIAxAB&ae
p=10&ntc=1*/
.parallax-section {
background-image: url(https://wallpapers.com/images/hd/electrician-checking-voltmeter-zpluh1tf2du87juu.jpg);
height: 60vh; /* Define a altura da seção */
width: 100vw;
background-attachment: fixed; /* Fixa o fundo enquanto o conteúdo rola */
background-repeat: no-repeat; /* Evita a repetição da imagem */
background-size: cover; /* Garante que a imagem cubra toda a área */
display: flex;
justify-content: space-around;
align-items:center;
text-align: center;
}
.parallax-section-items{
width: 20%;
color: white;
}



/*responsividade SOBRE*/
@media (max-width: 820px){
.sobre {
margin-top: 20px;
display: flex;
align-items: center;
flex-direction: column;
}
.img-sobre {
width: 100%;
}
.parallax-section {
background-position: top;
}
}